body {
    background-color: rgb(190, 95, 228);
    margin: 0px;
}

nav a {
    margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    color: black;(204, 168, 238, 0,192);
    display: flex;
    justify-s unset;


}

p {
    color: black(183, 0, 255)
}

.unicornio {
    font-style: italic;
}

.imgl {
    width: 50%;
}
nav a {
    color: blueviolet;

}
